body{
    background: #0E1013;
    color: #fefefe;
    font-family: 'Roboto mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.header{
    background: #1B1D20;
    /* background: linear-gradient(180deg, rgba(155,48,249,.1) 0%, rgba(14,16,19,0) 100%); */
    display: flex;
    justify-content : initial;
    align-content : center;
    align-items: center;
    padding-left: 10%
}

body header h1{
    font-size: 2em;
}

.header img{
 max-width: 30px;
 max-height: 30px;
 margin-right: 1em;
}
.header>.eyeIcon{
    margin-left: calc(-1rem + -30px);
}

.container{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    background: #1B1D20;
    max-width: 1200px;
    border-radius: 10px;
    border: 2px #9B30F9 solid;
    padding: 20px;

}

.controles{
    display: flex;
    flex-direction: column;
    border-right: 1px #9B30F9 solid;
    width: 50%;
}

.controles h3, .resultado h3{
    font-size: 1.5em;
    margin: 10px 0;
}

.control-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5px 0 0;
}

.control-items input{
    background: #9b30f9 linear-gradient(#6606f6 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    color: #fefefe;
    width: 120px;
    height: 30px;
    font-size: 1em;
    
    border-radius: 3px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.control-items input:hover{
    --p: 100%;
    color: #fff;
}

.control-items input.ativo{
    background-color: #6606f6;
    border: #9B30F9 1px solid;
}

.resultado{
    border-left: 1px #9B30F9 solid;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;

}

.result-board{
    background: #0E1013;
    width: 90%;
    height: 400px;
    margin: 0 0 0 5%;
    border-radius: 6px;
    padding: 5px;


    /* Será automatizado */
    display : flex;

}

.squares{
    background: linear-gradient(180deg, #9B30F9 0%, #6606f6 100%);
    width: 90px;
    height: 90px;

    box-sizing: border-box;
    border-radius: 6px;
    border: 1px #fefefe1f solid;
}

.css-board{
    background: #0E1013;
    width: 80%;
    height: 9em;
    margin: 40px 0 0 5%;
    border-radius: 6px;
    padding: 5px;

}

pre{
 margin: .5em;   
 box-sizing: border-box;
}
.css-result{
    color: #fefefe;
    display: flex;
    text-transform: none;
    flex-direction: column;
    align-items: baseline;
    text-align: initial;
}

.css-result span {
    display: block;
}

@media (max-width: 850px)
{
    body header h1{
        font-size: 1.5em;
    }

    .header{
        display: flex;
        justify-content : center;
        padding-left: 0%;
    }
    .container{
        flex-direction: column-reverse;

    }
    .controles{
        width: 100%;
        border-right: none;
        border-top: 1px #9B30F9 solid;
        padding-top: 40px;
    }

    .resultado{
        width: 100%;
        border-left: none;
        border-bottom: 1px #9B30F9 solid;
        padding-bottom: 40px;
    }

    .controles h3, .resultado h3{
        font-size: 1.1em;
    }

    .control-items input{
        color: #fefefe;
        width: 120px;
        height: 30px;
        font-size: .875em;
        
        border-radius: 3px;
        border: none;
        margin: 5px;
        cursor: pointer;
    }

    .result-board{
        margin: 0;
        width: 100%;
    }
    .css-board{
        margin:  40px 0 0 0;
    }

    .squares{
        background: linear-gradient(180deg, #9B30F9 0%, #6606f6 100%);
        width: 90px;
        height: 90px;
    
        box-sizing: border-box;
        border-radius: 6px;
        border: 1px #fefefe1f solid;
    }
}


@media (max-width: 500px)
{
    .result-board{
        height: 300px;
    }

    .squares{
        width: 61px;
        height: 61px;
    
        box-sizing: border-box;
        border-radius: 6px;
    }

    .css-result span {
        font-size: .7em;
    }
}
